.my-info {
    &__heading {
        margin: 0;
        font-size: 60px;
        font-family: 'Herr Von Muellerhoff', cursive;
    }

    &__desc {
        margin: 40px 0;
        font-size: 22px;
        text-align: justify;
    }
}