<div class="about-me">
    <section class="my-info">
        <h2 class="my-info__heading">About me</h2>
        <p class="my-info__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis nulla ante, fermentum eget velit cursus, scelerisque vehicula enim. Morbi sit amet tellus a est eleifend lacinia. Quisque hendrerit odio non ultrices hendrerit. Nam vulputate mollis lectus, sed semper arcu tempor eu. Donec facilisis tortor vel ex molestie, in auctor erat ullamcorper. Pellentesque eget sagittis purus, in egestas tortor.
            Curabitur porttitor elit at ipsum tempor auctor. Cras faucibus mi odio, egestas malesuada eros sagittis sed. Fusce eu accumsan ex, et vestibulum sem. Suspendisse id faucibus neque. Nunc sed magna eu lorem pretium viverra. Vestibulum sodales venenatis nisl ac maximus. Praesent ac elementum enim. Fusce eu dolor vel odio venenatis aliquet ac ut leo. Nunc mi sem, tempor id tristique vitae, euismod eu felis. Fusce vel nibh tincidunt, fringilla enim vitae, faucibus sem. Praesent et nisi luctus, volutpat mauris nec, aliquet diam. Nunc condimentum varius felis, eu ultrices urna.
        </p>
    </section>
</div>