.my-info {
    &__heading {
        margin: 0;
        font-size: 60px;
        font-weight: 400;
    }

    &__desc {
        margin: 40px 0;
        font-size: 22px;
        text-align: justify;
    }
}