<div class="about-me">
    <section class="my-info">
        <div class="grid">
            <div class="grid-item"><img src="http://cloud.screenpresso.com/pvTvc/2018-03-03_23h15_00.png"></div>
            <div class="grid-item"><img src="http://cloud.screenpresso.com/DpaR/2018-03-03_23h17_23.png"></div>
            <div class="grid-item"><img src="http://cloud.screenpresso.com/pvTvc/2018-03-03_23h15_00.png"></div>
            <div class="grid-item"><img src="http://cloud.screenpresso.com/DpaR/2018-03-03_23h17_23.png"></div>
            <div class="grid-item"><img src="http://cloud.screenpresso.com/pvTvc/2018-03-03_23h15_00.png"></div>
            <div class="grid-item"><img src="http://cloud.screenpresso.com/DpaR/2018-03-03_23h17_23.png"></div>
        </div>
    </section>
</div>