<div ref="loader" class="loader loader--active">
    <div class="loader__body">
        <span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="loader__base">
        <span></span>
        <div class="loader__face"></div>
        </div>
    </div>

    <div class="loader__longfazers">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="loader__text-holder">
        <h1 class="loader__text">Portfolio</h1>
        <h1 class="loader__text loader__text--name">Szymon Ryczek</h1>
    </div>
</div>
