<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-element">
            <router-link class="nav__list-link" to="/">About me</router-link>
        </li>
        <li class="nav__list-element">
            <router-link class="nav__list-link" to="/projects">Projects</router-link>
        </li>
        <li class="nav__list-element">
            <a class="nav__list-link" href="#">News</a>
        </li>
        <li class="nav__list-element">
            <a class="nav__list-link" href="#">Articles</a>
        </li>
    </ul>
</nav>