.nav {
    margin-top: 40px;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-link {
        text-decoration: none;
        font-family: 'Cormorant Infant', serif;
        line-height: 40px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 50px;
        color: #000;

        &:hover {
            color: #000000;
            font-style: italic;
            font-weight: 900px;
        }
    }
}