.nav {
    margin-top: 40px;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-element {
        margin-bottom: 10px;
    }

    &__list-link {
        text-decoration: none;
        font-family: 'Cormorant Infant', serif;
        line-height: 40px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 50px;
        color: #000;

        background-image: linear-gradient(120deg, #FFE26C 0%, #FFE26C 100%);
        background-repeat: no-repeat;
        background-size: 100% 0%;
        background-position: 0 88%;
        &:hover {
            background-size: 100% 20%;
        }
    }
}